article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block; }

ul, li {
  list-style-type: none;
  display: inline-block; }

body {
	background-color: #ffffff;
	margin: 0;
	font-size: 14px;
	line-height: 1.6em;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.03em;
}

a, a:visited {
	color: #700d1c;
	text-decoration: none;
}

a:hover {
	color: #e81d25;
	transition: color 0.6s ease-in-out;
	text-decoration: none;
}

/* HEADERS */

h2 {
	color: #ffffff;
	margin: {
		left: 6%;
		top: auto;
		bottom: 14px;
		right: 6%;
	}
	padding: 0;
	letter-spacing: 0.08em;
	line-height: 1.1em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

h3 {
	font-size: 16px;
	font-weight: 400;
	width: 70%;
	margin: {
		left: auto;
		right: auto;
	}
	text-align: left;
}

/* LEFT */
#sidebar {
	display: none;
	width: 25%;
	height: 100vh;
	padding: {
		top: 80px;
		left: 0;
		right: 0;
		bottom: auto;
	}
	float: left;
	background: url('../assets/bg.png') repeat;
	background-color: #ffffff;
	display: inline-block;
	position: fixed;
	text-align: center;
}


#logo {
	width: 80%;
	height: 74px;
	background: url('../assets/logo.png') center center no-repeat;
	background-size: contain;
	clear: both;
	display: block;
	margin: {
		left: auto;
		right: auto;
	}
	display: none;
}

.desc {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: {
		top: 60px;
	}
	p {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		margin: {
			left: 13%;
			right: 13%;
		}
	}
}	

#social {
	width: 80%;
	height: 100px;
	border-top: 1px solid #d6d6d6;
	margin: {
		left: auto;
		top: 50px;
		bottom: 0;
		right: auto;
	}
	padding: {
		left: 0;
		top: 16px;
		bottom: auto;
		right: 0;
	} 
	list-style-type: none;
	font-weight: 300;
	li {
		margin: {
			left: 3%;
			right: 3%;
		}
	}
}

/* MOBILE TAB */
.mobilemenu {
	display: none;
}

/* CONTENT */
.content {
	width: 75%;
	height: 100vh;
	background-color: #000000;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.work {
	width: 25%;
	height: 33.33%;
	background-color: #000000;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.red {
	width: 100%;
	height: 100%;
	background-color: #700d1c;
	background: url('../assets/bg-red.png') repeat;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0px 3px 2px #350910;
	p {
		color: #ffffff;
		font-weight: 300;
		margin: auto;
		padding: 0;
	}
}

.projectname {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* WORKS */
.project1 {
	background: url('../assets/thumb-pungo.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project2 {
	background: url('../assets/thumb-stormwater.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project3 {
	background: url('../assets/thumb-watkins.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project4 {
	background: url('../assets/thumb-wine.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project5 {
	background: url('../assets/thumb-jxtpz.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project6 {
	background: url('../assets/thumb-aromas.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project7 {
	background: url('../assets/thumb-greenpeace.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project8 {
	background: url('../assets/thumb-jeffjacobs.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project9 {
	background: url('../assets/thumb-vaquatics.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project10 {
	background: url('../assets/thumb-bakery.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project11 {
	background: url('../assets/thumb-logos.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}
.project12 {
	background: url('../assets/thumb-orson.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

/* PROJECT PAGES */
.projectpage {
	background-color: #ffffff;
	width: 75%;
	height: auto;
	display: inline-block;
	float: right;
	text-align: center;
	display: none;
	padding-bottom: 70px;
	p {
		width: 70%;
		margin: {
			left: auto;
			right: auto;
		}
		text-align: left;
		font-weight: 300;
	}
}
.images {
	width: 80%;
	margin: {
		left: auto;
		top: 50px;
		right: auto;
	}
}
/* PROJECT11 LOGOS */

